@font-face {
  font-family: 'MerryChristmasFlake';
  src: url('../fonts/christmas/flake/MerryChristmasFlake.ttf') format('truetype');
  src: url('../fonts/christmas/flake/MerryChristmasFlake.woff') format('woff');
  src: url('../fonts/christmas/flake/MerryChristmasFlake.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
