@import './reset';
@import './fonts';
@import 'mixins';

:root {
  --header-height: 10rem;

  @include md {
    --header-height: 11rem;
  }

  @include lg {
    --header-height: 12rem;
  }
}

#root {
  height: 100vh;
  background-image: url('../images/noel.jpg');
  background-size: cover;
  background-position: bottom;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(80, 179, 80), rgb(197, 69, 69));
}
